.wrapper{
	position: relative;
	display: flex;
	justify-content: center;
  margin: auto;
  height:100vh;
  background-color: #fff;
}
.charter_container_clicked{
	position: relative;
	width: 50%;
}
.charter_container_clicked_mid{
	position: relative;
	width: 75%;
}
.charter_container_notClicked{
	position: relative;
	width: 100%;
}
.charts{
	height: 768px;
	margin: 20px;
	border: 1px solid;
}
.data{
	position: relative;
	padding: 20px;
	margin: 20px 20px 20px 10px;
  width: 300px;
  height: 728px;
  border: 1px solid;
  overflow: auto;
}
.data_list{
	list-style: none;
	padding: 0;
}
.data_list li{
	border: 1px solid;
	padding: 2px;
	margin-top: 5px;
}
.data_list li span{
	font-weight: bold;
}
.btn{
	float: right;
}
.hide-btn{
	z-index: 2;
	position: absolute;
	top: 40%;
}
.btn_left{
	left: 0;
}
.btn_right{
	right: 0;
}
.right_triangle{
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid blue;
	border-bottom: 50px solid transparent;
	background-color: transparent;
	border-left: 1px;
}
.left_triangle{
	background-color: transparent;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid blue;
  border-bottom: 50px solid transparent;
  border-right: 1px;
}
.btn_margin_l{
	left: -92px;
}
.btn_margin_r{
	right: -92px;
}
.d3_chart{
	width: 400px;
	height: 400px;
}